div(class='clearfix border-bottom')
div(class='clearfix')
  div(class='block mx-auto footer')
    | Created using #[a(href='https://www.expressjs.com') Express], 
    | #[a(href='https://basscss.com') Basscss], 
    | #[a(href='http://mrmrs.cc/btns/') Btns] and 
    | #[a(href='http://clrs.cc') Colors] 
    | (#[a(href='https://github.com/debamitro/raagatube-demo') source code])
