tml
  head
    title RaagaTube
    link(href='../css/basscss.css' rel='stylesheet')
    link(href='../css/btns.css' rel='stylesheet')
    link(href='../css/style.css' rel='stylesheet')
  body
    div(class='clearfix')
        a(href=".." class='h1') RaagaTube
    div(class='clearfix')
        p
            | YouTube probably has the largest collection of Indian Classical music on the planet.
            | Many of these recordings are rare and inaccessible. Some might even not exist anywhere else.
            | This website is a demonstration of an alternate way of looking at these recordings.
            | Instead of search, it allows the user to browse the recordings by raaga, instrument or even by artist.
            | A lot of this website is incomplete
    include includes/footer.pug 