html
  head
    title RaagaTube - Under Construction
    link(href='../css/basscss.css' rel='stylesheet')
    link(href='../css/btns.css' rel='stylesheet')
  body
    div(class='clearfix')
      div(class='col col-4')
        a(href='../' class='h1') RaagaTube

    div(class='clearfix')
        | This page is under construction